<div class="row mt-5 mb-5">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-body text-center">
                <h1><i class="fa fa-users" aria-hidden="true"></i> Register</h1><br>
                <% include ./partials/messages %>
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <label for="name"><i class="fa fa-user" aria-hidden="true"></i> Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter name..."
                            value="<%= typeof name != 'undefined' ? name : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email..."
                            value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
                        <input type="password" name="password" id="pass" class="form-control"
                            placeholder="Enter password..." value="<%= typeof pass != 'undefined' ? pass : '' %>" />
                    </div>
                    <div class="form-group">
                        <label for="rePass"><i class="fa fa-lock" aria-hidden="true"></i> Confirm Password</label>
                        <input type="password" name="password2" id="password2" class="form-control"
                            placeholder="Confirm Password..."
                            value="<%= typeof rePass != 'undefined' ? rePass : '' %>" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"
                            aria-hidden="true"></i>
                        REGISTER</button>
                </form>
                <p class="lead mt-4">Already have an account?<a href="/users/login"> Login Here!</a></p>
            </div>
        </div>
    </div>
</div>