<div class="row mt-5">
    <div class="col-md-6 m-auto">
          <div class="card">
              <div class="card-body text-center">
                  <p><i class="fa fa-user-circle-o" aria-hidden="true"></i> Create an account or Login</p>
                  <h1><i class="fa fa-code fa-2x"></i></h1>
                  <a href="users/login" class="btn btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                  <a href="users/register" class="btn btn-warning btn-block"><i class="fa fa-location-arrow" aria-hidden="true"></i> Register</a>
              </div>
          </div>
    </div>
</div>